body.gutenberg-editor-page{

	div.editor-post-title__block, 
	div.editor-default-block-appender, 
	div.editor-block-list__block {
		max-width: initial;
	}

	.edit-post-text-editor{
		padding: 0;
	}

	.edit-post-text-editor .editor-post-title__block textarea{
		margin: 0;
	}

}
