/**!
 * Plugin Name:  HTML Editor Syntax Highlighter
 * Author:       Peter Mukhortov
 * Author URI:   http://mukhortov.com/
 * Author:             James Bradford
 * Author URI:         http://arniebradfo.com/
 * Version:      2.0.0
*/

// import all the themes css
@import (less) 'node_modules/codemirror/theme/*.css';

.CodeMirror {
	font: inherit;
	&-scroll{
		font-family: Menlo Regular, Consolas, Monaco, monospace;
		line-height: 150%;
		// font-size: 12px;
		// height: 500px;
		position: relative;
	}
	&-settings{


		@mobile-media:  ~'screen and (max-width: 781px)';
		@desktop-media: ~'screen and (min-width: 782px)';
		@docked-mobile-height:44px;
		@docked-desktop-height:35px;
		.media(@property; @mobile:@docked-mobile-height; @desktop:@docked-desktop-height;){
			@media @desktop-media{ @{property}: @desktop; }
			@media @mobile-media{ @{property}: @mobile; }
		}

		@margin: 6px;
		@padding: 12px;
		@border-radius: 3px;
		@border-color: #ddd;
		@background-color: fade(white, 93%);

		color: #444;
		// display: block;
		height: 0;
		width: 0;


		&__toggle{
			border-radius: @border-radius;
			z-index: 9;
			box-sizing: border-box;
			position: absolute;
			top:    @margin;
			right:  @margin;
			display: block;
			cursor: pointer;
			.media(height, @docked-mobile-height, @docked-desktop-height);
			.media(width, @docked-mobile-height, @docked-desktop-height);

			&:after{
				content:'\f111';
				font-family: dashicons;
				.media(font-size, 28px, 20px);
				.media(margin, 8px, 7px);
				line-height: 1em;
				display: inline-block;
			}

			&:before{
				border: 1px solid @border-color;
				border-radius: @border-radius;
				z-index: -1;
				content:'';
				background-color: white;  
				transition: 250ms ease;
				transition-property: transform opacity;
				position: absolute;
				top:    0;
				right:  0;
				bottom: 0;
				left:   0;
			}

		}
		&__wrapper{
			z-index: 9;
			position: absolute;
			top:    @margin;
			right:  @margin;
			bottom: @margin;
			left:   @margin;
			border-radius: @border-radius;
			background-color: @background-color;  
			border-color: @border-color;
			transform-origin: top right;
			transition: 250ms ease;
			transition-property: transform opacity;
			
		}


		&__docked{
			background-color: @background-color;  
			box-sizing: border-box;
			z-index: 2;
			position: absolute;
			right:0;
			left:0;
			width: 100%;
			.media(height, @docked-mobile-height, @docked-desktop-height);
		}
		&__header{
			border-top-left-radius: @border-radius;
			border-top-right-radius: @border-radius;
			top:0;
			border: 1px solid @border-color;
		}
		&__title{
			display: inline-block;
		}
		&__footer{
			border-bottom-left-radius: @border-radius;
			border-bottom-right-radius: @border-radius;
			bottom:0;
			border: 1px solid @border-color;
			padding: 0 @padding;
		}
		&__foot-content{
			margin: 0;
			height: 100%;
			vertical-align: middle;
			.media(line-height)
		}
		&__feedback{
			float:left;
		}
		&__credits{
			float:right;
		}


		&__form{
			position: absolute;
			.media(top, @docked-mobile-height, @docked-desktop-height);
			.media(bottom, @docked-mobile-height, @docked-desktop-height);
			right:  0;
			left:   0;
			box-sizing: border-box;
			padding: 1px @padding;
			overflow-y: auto;
			margin: 0;
			border-left: 1px solid @border-color;
			border-right: 1px solid @border-color;
		}
		td&__heading{ //td& for specificity
			padding: 0;
		}

		&.open{
			.CodeMirror-settings{
				&__wrapper{
					opacity: 1;
					transform: scale3d(1,1,1);
				}
				&__toggle{
					&:after{
						content:'\f158';
					}
					&:before{
						opacity: 0;
					}
				}
			}
		}
		&.closed{
			.CodeMirror-settings{
				&__wrapper{
					opacity: 0;
					transform: scale3d(0,0,0);
				}
				&__toggle{
					transition: opacity 250ms ease;
					opacity: .5;
					&:hover{
						opacity: 1;
					}
					&:before{
						opacity: 1;
					}
				}
			}
		}
	}
}

