/**!
 * Plugin Name:  HTML Editor Syntax Highlighter
 * Author:       James Bradford
 * Author URI:   http://arniebradfo.com/
 * Author:       Peter Mukhortov
 * Author URI:   http://mukhortov.com/
 * Version:      2.2.6
**/

// import all the themes css
@import (less) 'node_modules/codemirror/lib/codemirror.css';
@import (less) 'node_modules/codemirror/theme/*.css';
@import (less) 'theme/*.less';
@import (less) 'node_modules/codemirror/addon/fold/foldgutter.css';
// @import (less) 'node_modules/codemirror/addon/scroll/simplescrollbars.css';

@z-index: 9;

.CodeMirror {

	// font: inherit;	
	&-scroll{
		font-family: Menlo Regular, Consolas, Monaco, monospace;
		line-height: 150%;
		position: relative;
	}

	@mobile-media:  ~'screen and (max-width: 781px)';
	@desktop-media: ~'screen and (min-width: 782px)';
	@docked-mobile-height:44px;
	@docked-desktop-height:35px;
	.media(@property; @mobile:@docked-mobile-height; @desktop:@docked-desktop-height;){
		@media @desktop-media{ @{property}: @desktop; }
		@media @mobile-media{ @{property}: @mobile; }
	}

	@margin: 6px;
	@padding: 12px;
	@paddingSm: 4px;
	@border-radius: 3px;
	@border-color: #ddd;
	@background-color: fade(white, 93%);
	@transition-duration: 250ms;
	@transition-easing: ease;
	@foreground-color: #444;

	&-settings{
		color: @foreground-color;
		height: 0;
		width: 100%;
		z-index: @z-index;
		text-shadow: none;

		// WP font family from common.css
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

		&__toggle{
			border-radius: @border-radius;
			z-index: @z-index + 2;
			box-sizing: border-box;
			position: absolute;
			top: 0;
			right: 0;
			margin: @margin;
			display: block;
			cursor: pointer;
			.media(height, @docked-mobile-height, @docked-desktop-height);
			.media(width, @docked-mobile-height, @docked-desktop-height);

			&:after{
				content:'\f111';
				font-family: dashicons;
				.media(font-size, 28px, 20px);
				.media(margin, 8px, 7px);
				line-height: 1em;
				display: inline-block;
			}

			&:before{
				border: 1px solid @border-color;
				border-radius: @border-radius;
				z-index: -1;
				content:'';
				background-color: white;  
				transition: 250ms ease;
				transition-property: transform opacity;
				position: absolute;
				top:    0;
				right:  0;
				bottom: 0;
				left:   0;
			}

		}

		&__wrapper{
			pointer-events: none;
			visibility: hidden;
		}
		&__docked, &__body{
			pointer-events: initial;
			visibility: visible;
		}

		&__wrapper{
			position: absolute;
			width: ~'calc(100% -' @margin*2 ~')';
			max-height: ~'calc(100% -' @margin*2 ~')';
			top: 0;
			margin: @margin;
			box-sizing: border-box;
			z-index: @z-index;
			display: flex;
			flex-direction: column;
		}

		&__docked{
			flex: 0 0 auto;
			z-index: @z-index + 1;
			background-color: white;  
			box-sizing: border-box;
			.media(min-height, @docked-mobile-height, @docked-desktop-height);
		}

		&__header{
			border-top-left-radius: @border-radius;
			border-top-right-radius: @border-radius;
			border: 1px solid @border-color;
			padding: @paddingSm;
			.media(padding-right);
			border-bottom-left-radius: @border-radius;
			border-bottom-right-radius: @border-radius;
		}

		&__body{
			flex: 1 1 auto;
			box-sizing: border-box;
			padding: 1px @padding;
			overflow-y: auto;
			background-color: @background-color;  
			border-left: 1px solid @border-color;
			border-right: 1px solid @border-color;
		}
		
		&__footer{
			border-bottom-left-radius: @border-radius;
			border-bottom-right-radius: @border-radius;
			border: 1px solid @border-color;
			padding: @padding*.5 @padding;
			display: flex;
			flex-wrap: wrap;
			align-items: baseline;
			align-content: center;
			justify-content: space-between;
		}

		&-advanced__description{ 
			margin-left: 10px;
			opacity: 0.6; 
		}
		
		td&__heading{ // td& for specificity
			padding: 0;
			padding-bottom: 12px;
		}

		&__foot-content{
			margin: 0;
		}
		// &__feedback{}
		// &__credits{}

		// OPEN AND CLOSED STATES //
		&__toggle, 
		&__toggle-advanced, 
		&__header, 
		&__body, 
		&__footer,
		&__wrapper
		{
			transition: @transition-duration @transition-easing;
			transition-property: opacity, transform;
			transform-origin: top right;
		}

		@body-and-footer-closed-state:{
			visibility: hidden;
			opacity: 0;
			transform: translate(0,-20px);
			transition:
				opacity @transition-duration @transition-easing,
				transform @transition-duration @transition-easing,
				visibility 1ms @transition-easing @transition-duration;
		};
		@body-and-footer-open-state:{
			visibility: visible;
			opacity: 1;
			transform: translate(0,0);
			transition:
				visibility 1ms @transition-easing,
				opacity @transition-duration @transition-easing 1ms,
				transform @transition-duration @transition-easing 1ms;
		};
		

		&.closed{
			.CodeMirror-settings{
				&__toggle-advanced{
					&:before{
						content: 'more...'
					}
				}
				&__toggle{
					opacity: .5;
					&:hover{
						opacity: 1;
					}
					&:before{
						opacity: 1;
					}
				}
				&__wrapper{
					opacity: 0;
					transform: scaleX(0);					
				}
				&__body, &__footer{
					@body-and-footer-closed-state();
				}
			}
		}

		&.open{
			.CodeMirror-settings{
				&__toggle-advanced{
					&:before{
						content: 'more...'
					}
				}
				&__toggle{
					&:after{
						content:'\f158';
					}
					&:before{
						opacity: 0;
					}
				}
				&__wrapper{
					opacity: 1;
					transform: scaleX(1);
				}
				&__body, &__footer{
					@body-and-footer-closed-state();
				}
			}
		}

		&.open-advanced{
			.CodeMirror-settings{
				&__toggle-advanced{
					&:before{
						content: 'less'
					}
				}
				&__header{
					border-bottom-left-radius:  0;
					border-bottom-right-radius: 0;
				}
				&__body, &__footer{
					@body-and-footer-open-state();
				}
			}
		}

		// BUTTON TYPES //
		&__button{
			&:active{ transform: none !important; }
			position: relative;
			select, input{
				display: block;
				position: absolute;
				top:0;
				right:0;
				bottom:0;
				left:0;
				-webkit-appearance: none; //TODO: autoprefixer
				margin: 0;
				padding: 0;
				border: none;
				height: auto;
				font-size: 0;
				line-height: 0;
				height: 100% !important;
				width: 100% !important;
				background: none;
				opacity: 0;
			}
			option{
				font-size: 12px; // for FireFox
			}
			&--select{
				&:after{
					content: '\f140';
					font-family: dashicons;
					vertical-align: top;
					display: inline-block;
					.media(font-size, 20px, 16px);
					margin: 0 -5px -4px;
					.media(margin-top, -2px, 0);
				}
			}
		}
		&__toggle-advanced{
			cursor: pointer;
			display: inline-block;
			line-height: 35px - 10px;
			padding: 0 @paddingSm;
			vertical-align: middle;
		}

	}

	// DIALOG //
	&-dialog{
		position: absolute;
		left: 0; 
		right: 0;
		top: 0;

		width: ~'calc(100% -' @margin*2 ~')';
		.media(height, @docked-mobile-height, @docked-desktop-height);
		margin: @margin;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		z-index: @z-index + 3;

		padding-left: @padding;
		.media(padding-right);
		
		border-radius: @border-radius;
		border: 1px solid @border-color;
		color: @foreground-color;
		background-color: white;  
		
		&:after{
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			
			content: '\f158';
			font-family: dashicons;
			.media(font-size, 28px, 20px);
			.media(margin, 8px, 7px);
			line-height: 1em;
			cursor: pointer;
		}

		input {
			border: none;
			outline: none;
			& ,&:focus{
				box-shadow: none;
			}
			background: rgba(0,0,0,0.05);
			color: inherit;
			font-family: monospace;
			margin: -1px @padding;
			padding: 0 @padding;
			align-self: stretch;
			flex: 1 1 auto;
		}
		
		button {
			margin: 0 2px !important;
			&:first-of-type {
				margin-left: @padding !important;
			}
		}

		span {
			align-self: stretch;
			display: flex;
			align-items: center;
		}
	}

	// SCROLLBARS //
	&-overlayscroll{
		.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler{
			display: none !important;
		}

		@scrollbar-color: #f5f5f5;
		@scrollbar-border-color: @border-color;
		@thickness: 8px;
		&-horizontal, &-vertical{
			position: absolute;
			z-index: 6;
			transition: opacity 100ms linear;
			opacity: 0.5;
			&:hover{  opacity: 1;    }
			&:active{ opacity: 0.75; }
			div{
				position: absolute;
				background: transparent !important;
				&:after{
					content: '';
					background-color: @scrollbar-color;
					border: 1px solid @scrollbar-border-color;
					border-radius: @thickness/2;
					position: absolute;
				}
			}
		}

		&-horizontal{
			bottom: 0; 
			left: 0;
			height: @thickness;
			margin-bottom: @margin;
			div {
				top: 0;
				bottom: 0;
				&:after{
					top: 0;
					bottom: 0;
					left: @margin;
					right: @margin;
				}
			}
		}

		&-vertical{
			right: 0; 
			top: 0;
			width: @thickness;
			margin-right: @margin;
			div{				
				left: 0;
				right: 0;
				&:after{
					left: 0;
					right: 0;
					.media(top, (@margin*2 + @docked-mobile-height), (@margin*2 + @docked-desktop-height));
					bottom: @margin;
				}
			}
		}
	}

	.wp-editor-expand & {
		@min-height: 300px;
		min-height: @min-height;
		.CodeMirror-scroll{
			@magic-hide-scroll-bar-height: 30px;
			// these override CodeMirrors own native padding and negative margin
			// CodeMirror uses this to hide the scrollbar on the bottom
			// they are set to !important as well
			padding-bottom: @min-height + @magic-hide-scroll-bar-height !important;
			margin-bottom: -(@min-height + @magic-hide-scroll-bar-height) !important;
		}
	}


	&-mirrored{ // the textarea CodeMirror is mirroring
		display: block !important; // so that focus still works in all browsers
		position: fixed !important;
		left: -9999px !important;
		top: -9999px !important;
		z-index: -999 !important;
		opacity: 0 !important;
	}


	// THEME AND PLUGIN EDITOR PAGES

	// to beat the stupid, lazy:
	// #template div { margin-right: 190px; }
	#template & {
		.media(margin-right, initial, 20px);
		div{ margin-right: initial; }
		p{ width: auto; }
		// &__toggle:after{}
	}
	&-vscrollbar{
		display: none !important; // prevent second scrollbar
	}
	&-scroll{
		margin-right: -30px !important;
	}
	&-settings__toggle{
		margin: @margin !important;
	}
}


// FULLSCREEN
.heshFullscreen {
	z-index: 99999;
	position: fixed !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	background: #fff;
	padding: 2% 2% 0;

	.CodeMirror {
		border: 1px solid #ccc;
		border-radius: 0 0 4px 4px;
		height: 85% !important;
		@media screen and (max-height: 550px) {
			height: 75% !important;
		}
	}
	#ed_toolbar {
		border: 1px solid #ccc;
		border-bottom: 0;
		border-radius: 4px 4px 0 0;
	}
	#cm_content_fullscreen:before{
		content:'\f506';
	}
}

.cm-matchhighlight,
.CodeMirror-matchingbracket,
.CodeMirror-matchingtag
{
	background-color: rgba(0, 255, 175, 0.2);
}

#cm_content_fullscreen{
	display: inline-block;
	.wp-editor-expand & {
		display: none;
	}
}

// FULL HEIGHT EDITOR
#ed_toolbar{
	z-index: @z-index + 1;
}


@import (less) 'theme-or-plugin.less';
@import (less) 'gutenberg.less';
